.container {
    display: grid;
    grid-template-rows: 3rem 50rem 3rem;
    grid-template-columns: 10rem 1fr;
    grid-template-areas:
    'header header header'
    'sidebar content content'
    'footer footer footer';
    }

.header {
    grid-area: header;
    background-color: #6E8783;
    display: flex;
}

.header a{
    color: #334259;
}

.header .navigation:hover{
    background-color: #DB504A;
}

.footer {
    grid-area: footer;
    background-color: #DB504A;
    padding: 1rem;
}

.sidebar {
    grid-area: sidebar;
    background-color: #334259;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2rem;
}

.content {
    grid-area: content;
    background-color: #edddd0;
    font-size: medium;
    padding: 2rem;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction:column;
    width:auto;
}

.navigation a{
    color: #EDDDD0;
    font-size: medium;
    font-family: 'Secular One', sans-serif;
}

.course1 a{
    color: #edddd0;
    font-size: medium;
}

img {
    max-width: 35%;
    max-height: auto;
    display: block;
}